body {
  margin: 0 !important;
}

ul li {
  list-style: none;
  font-weight: 600;
  float: left;
  padding: 0px 25px 0px 25px;
  text-transform: uppercase;
}

li {
  color: #191367;
}

nav {
  font-size: 16px;
  font-family: 'Raleway'
}

div {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 0px 190px 0px;
}
button {
  background-color: #3549c0;
  padding: 15px 400px;
  border: 4px solid white;
}

h1 {
  letter-spacing: 2.5px;
  font-weight: 800;
  font-size: 180.395px;
  text-align: center;
  font-family: 'Raleway'
}
h2 {
  font-size: 27.44px;
  letter-spacing: 2px;
  margin: -152px 0px 0px -97px;
  font-weight: 400;
  text-align: center;
  font-family: 'Raleway'
}
h3 {
  letter-spacing: 2px;
  font-size: 46.205px;
  font-family: 'Raleway'
}
button {
  font-size: 38.545px;
  font-weight: bold;
  font-family: 'Raleway'
}
p {
  font-size: 20px;
  font-family: 'PT Sans'
}

.white {
  color: white;
}
.blue {
  color: #3f59de;
}
section.about {
  padding: 0px 790px 50px 350px;
}
section.features {
  background-color: #3549c0;
  padding: 5px 740px 70px 350px;
}
p.white {
  padding: 0px 0px 50px 0px;
}

#menu {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#menu:after {
  content:'';
  display:block;
  clear:both;
}
