body {
  background-color: #FEBECE;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  color: #f14b5c;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #f14b5c;
}
h3 {
  font-weight: normal;
  color: #FF7684;
}
p {
  font-size: 16px;
  font-weight: bold;
  color: #282F5F;
}
label {
  font-size: 16px;
  font-weight: bold;
  color: #323333;
}
input {
  border-color: #323333;
  background-color: #FEBECE;
}
textarea {
  border-color: #323333;
  background-color: #FEBECE;
}
button {
  border: 2px solid #282F5F;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: navy;
}
