font-family: 'Inconsolata', monospace;



.menu {
    width: 400px;
    text-align: justify;
    margin-left: 65.5px;
    margin: 34.5px 0px 0px 65.5px;
}
.menu ul {
    display: inline;
    margin-left: 0px;
    padding: 0;

}
.menu li {
    font-family: 'Prata', serif;
    font-size: 22px;
    color: #20c4bb;
    display: inline-block;

}

.menu span {
    display: inline-block;
    width: 100%;
    height: 0;
}

.blue_block {
  width: 50%;
  height: 788.5px;
  background: #003170;

  display: inline-block;
  float: left;
}

.aqua_block {
  width: 25%;
  height: 788.5px;
  background-color: #75e3dd;

  display: inline;
  float: left;
}

.pink_block {
  width: 25%;
  height: 788.5px;
  background-color: #f4979c;

  display: inline;
  float: left;
}

.clear {
  clear: both;
}

.img_h {
  width: auto;
  height: 422px;
}







@media screen and (max-width: 1004px) {
  .blue_block {
    width: 100%;
    height: 788.5px;
    background: #003170;

    display: inline-block;
    float: left;
  }
  .aqua_block {
    width: 50%;
    height: 788.5px;
    background-color: #75e3dd;

    display: inline-block;
    float: left;
  }

  .pink_block {
    width: 50%;
    height: 788.5px;
    background-color: #f4979c;

    display: inline-block;
    float: left;
  }
}

@media screen and (max-width: 768px) {
  .blue_block {
    width: 100%;
    height: 788.5px;
    background: #003170;

    display: inline-block;
    float: left;
  }
  .aqua_block {
    width: 100%;
    height: 788.5px;
    background-color: #75e3dd;

    display: inline-block;
    float: left;
  }

  .pink_block {
    width: 100%;
    height: 788.5px;
    background-color: #f4979c;

    display: inline-block;
    float: left;
  }
}
