nav {
  text-align: center;
}
ul li {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: : 110px;
  padding-right: 110px;
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Playfair Display', 'Georgia', serif;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  position: relative;
  top: -40px;
  left: 50px;
}
button {
  font-size: 20px;
  color: white;
  background-color: #acceb7;
  width: 507px;
  height: 72.5px;
  border-style: none;
}
button:hover {
  background-color: white;
  border: #acceb7 4px solid;
  color: #acceb7;
  transition: all 0.7s ease-in-out;
}
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  font-style: italic;
  margin-top: 25px;
}
h4 {
  font-size: 40px;
  font-style: italic;
  font-weight: normal;
  font-family: 'Playfair Display', 'Georgia', serif;
}
h5 {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  margin-top: -50px;
  text-transform: uppercase;
}
form label {
  display: block;
  font-family: 'Muli', sans-serif;
}
input {
  border-style: solid;
  border-width: medium;
  height: 50px;
  width: 445px;
  margin-bottom: 35px;
}
textarea {
  border-style: solid;
  border-width: medium;;
}
label {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
}
footer {
  background-color: #acceb7;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  margin-top: 100px;
}
div svg {
  width: 55px;
  height: 55px;
  display: inline-block;
  float: right;
  margin: 30px 10px 0px 10px;
}
div .cos {
  display: inline-block;
  float: left;
}


.d1 {
  position: relative;
  left: -220px;
  padding-bottom: 160px;
}
.flower-1 {
  width: 567px;
  position: relative;
}
.border {
  width: 567px;
  height: 773.5px;
  position: absolute;
  top: 40px;
  left: 50px;
}
.mobile {
  width: 482px;
  position: absolute;
  top: 140px;
  left: 140px;
}
.d2 {
  padding-top: 155px;
  margin-left: px;
}
.planty {
  width: 502px;
}
.p1 {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  font-family: 'Muli', sans-serif;
  width: 475px;
  position: relative;
  top: -10px;
  padding-bottom: 60px;
}
.d3 {
  background-image: url(../images/background.png);
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 5px;
  margin: 0 auto;
}
.p2 {
  font-size: 50px;
  color: white;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  text-align: center;
  line-height: 67.5px;
  padding-left: 400px;
}
.p3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
}
.profile {
  border: 5px solid #acceb7;
  width: 450px;
  margin-left: 75px;
}
.profile-pic1 {
  float: left;
  width: 141px;
  margin-left: -75px;
  padding-top: 60px;
}
.profile-inf {
  float: left
  padding: 0px 0px 0px 200px;
  margin-top: -30px;
  margin-left: 75px;
  margin-bottom: 50px;
}
.profile2 {
  position: relative;
  top: 120px;
  left: 25px;
}
.profile-pic2 {
  float: left;
  width: 141px;
  margin-left: -75px;
  padding-top: 60px;
}
.contactus {
  margin-top: 50px;
}
.d5 {
  position: relative;
  left: 100px;
}
.border-2 {
  width: 414px;
  position: relative;
}
.flower-2 {
  width: 414px;
  position: absolute;
  top: 40px;
  left: 50px;
}
.button2 {
  width: 445px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.p4 {
  font-weight: 300;
  line-height: 25px;
  padding: 20px 25px 25px 5px;
}
